@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
:root {
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
}
.Body-home{
    margin: 10px 10px 0 10px;
}

.Home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
.Title {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.Trending{
    font-family: 'Cinzel', serif;
}
.Loading{
    display: flex;
    justify-content: center;
}
.Input-container{
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Search{
    width: 85%;
    height: 40px;
    border: none;
    font-size: 20px;
    background-color: rgb(226, 233, 233);
    transition: transform 0.5s;
    outline: none;
    padding: 8px;
}
.Search::placeholder{
    padding-left: 5px;
    color: rgb(17, 0, 251);
}
.Search:hover{
    transform: scale(1.05);
    transition: transform .5s;
}
.Button-search{
    width: 15%;
    border: none;
    transition: transform 0.5s;
}
.Button-search:hover{
    color: crimson;
}

.Container-slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
}


.Front{
    border-radius: 5px;
    margin-right: 10px;
    scroll-snap-align: start;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}


.Title-categories{
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
}

.Categories{
    display: flex;
    justify-content: space-around;
}

.Categories-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    margin-bottom: 50px;
}

.Categories-list a {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
}
.Categories-list .Circle{
    margin-right: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.Categories-list a #id28 { background-color: var(--yellow); 
    }
.Categories-list a #id12 { background-color: var(--red); 
     }
.Categories-list a #id16 { background-color: var(--green);
     }
.Categories-list a #id35 { background-color: var(--lightBlue);
     }
.Categories-list a #id80 { background-color: var(--darkBlue); 
    }
.Categories-list a #id99 { background-color: var(--purple-dark-1); 
    }
.Categories-list a #id18 { background-color: var(--purple-medium-1); 
    }
.Categories-list a #id10751 { background-color: var(--yellow); 
    }
.Categories-list a #id14 { background-color: var(--red); 
    }
.Categories-list a #id36 { background-color: var(--green); 
    }
.Categories-list a #id27 { background-color: var(--lightBlue); 
    }
.Categories-list a #id10402 { background-color: var(--darkBlue); 
    }
.Categories-list a #id9648 { background-color: var(--purple-dark-1); 
    }
.Categories-list a #id10749 { background-color: var(--purple-medium-1); 
    }
.Categories-list a #id878 { background-color: var(--yellow); 
    }
.Categories-list a #id10770 { background-color: var(--red); 
    }
.Categories-list a #id53 { background-color: var(--green); 
    }
.Categories-list a #id10752 { background-color: var(--lightBlue); 
    }
.Categories-list a #id37 { background-color: var(--darkBlue); 
    }
.Search-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto;
    place-content: center;
    gap: 5px;
    margin-bottom: 15px;
}
@media (min-width: 1000px) {
    .Body-home{
        margin: 0 20%;
    }
    .Container-slider{
        max-width: 1240px;
    }
}
@media (max-width: 400px) {
        .Front{
            width: 140px;
            height: 190px;
        }

}